@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
/*RESET CSS*/
* {
     padding: 0;
     box-sizing: border-box;
     margin: 0;
}

/*DEFINIÇÃO DE CORES*/
:root {
     --verde:#52AA5E;
     --lima:#A2D729;
     --azul:#2BD9FE;
     --vermelho:#E32D2D;
     --roxo: #391463;
     --amarelo: #f9d618;
}

/*CONFIGS GLOBAIS*/
.container {
     width: 1600px;
     height: auto;
}

h1 {
     font: 700 100px 'Poppins', sans-serif;
     color: #fff;
     line-height: 100px;
}

body::-webkit-scrollbar {
     width: 11px;
}

body::-webkit-scrollbar-track {
     background-color: #fff;
}

body::-webkit-scrollbar-thumb {
     background-image: linear-gradient(to right, var(--lima) 0%, var(--verde) 100%);
     border-radius: 5px;
}

html{
     scroll-behavior: smooth;
}


/*CONFIGS INDIVIDUAIS*/
.navbar-header {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #fff;
}

#nav {
     max-width: 100%;
     height: 70px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #fff;
}

.logomarca a img {
     width: 70px;
     height: 70px;
}

.menu ul {
     display: flex;
     list-style: none;
     align-items: center;
     justify-content: center;
     column-gap: 30px;
}

.menu ul a {
     text-decoration: none;
     font: normal 18px 'Poppins', sans-serif;
     color: var(--verde);
     position: relative;
     z-index: 1;
     padding: 10px;
     border-radius: 15px;
}

.menu ul a::before {
     content: '';
     width: 0;
     height: 5%;
     position: absolute;
     bottom: 0;
     left: 0;
     background-image: linear-gradient(to right, var(--lima) 0%, var(--verde) 100%);
     transition: .5s ease;
     display: block;
     z-index: -1;
     border-radius: 15px;
}

.menu ul a:hover::before {
     width: 100%;
}

.banner-header {
     background: url(../img/background-pcl.jpg) no-repeat center;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     /*background-attachment: fixed; -> Faz com que a tela fique fixa e tenha efeito paralax*/
     background-attachment: fixed;
     height: calc(80vh - 70px);
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     overflow: hidden;
}

.banner-header-area {
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
     row-gap: 60px;
}

.banner-btn-sobre a {
     text-decoration: none;
     padding: 15px 35px;
     color: var(--verde);
     background-color: #fff;
     border: 1px solid var(--verde);
     font: normal 18px 'Poppins', sans-serif;
     position: relative;
     z-index: 1;
     transition: .5s ease;
}

.banner-btn-sobre a:hover {
     color: #fff;
     background-color: var(--verde);
}


/*CONFIGS MAIN SECTIONS*/

/*CONFIG SECTION DESCRIPTION*/
#section-description {
     padding: 60px 0px;
     display: flex;
     justify-content: center;
}

.section-description--area {
     display: grid;
     grid-template-columns: 1fr 2fr;
     column-gap: 30px;
     row-gap: 30px;
}

.description--area1 {
     grid-column: 1 / 2;
     grid-row: 1 / 3;
     background: url(../img/image-1.jpg) no-repeat center;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
}

.description--area2 {
     grid-column: 2 / 3;
     grid-row: 1 / 2;
     height: 400px;
     background: url(../img/image-2.jpg) no-repeat center;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
}

.description--area3 {
     grid-column: 2 / 3;
     grid-row: 2 / 3;
     display: flex;
     flex-direction: column;
     row-gap: 30px;
}

.description-titulo h2 {
     font: 700 38px 'Poppins', sans-serif;
     color: var(--roxo);
}

.description-texto p {
     font: normal 18px 'Poppins', sans-serif;
     text-align: justify;
}

.description-botao {
     height: 55px;
     display: flex;
     align-items: center;
}

.description-botao a {
     text-decoration: none;
     padding: 15px 35px;
     color: var(--verde);
     background-color: #fff;
     border: 1px solid var(--verde);
     font: normal 18px 'Poppins', sans-serif;
     position: relative;
     z-index: 1;
     transition: .5s ease;
}

.description-botao a:hover {
     color: #fff;
     background-color: var(--verde);
}

/*CONFIG SECTION INFO*/
#section-info {
     padding: 60px 0px;
     display: flex;
     justify-content: center;
     background-image: linear-gradient(to right, var(--lima) 0%, var(--verde) 100%);
}

.section-info--area {
     display: flex;
     flex-direction: column;
     row-gap: 30px;
}

.info--area-titulo h3 {
     text-align: center;
     font: 700 22px 'Poppins', sans-serif;
     color: var(--roxo);
}

.info--area-org {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
}

.info--area-box {
     display: flex;
     flex-direction: column;
     align-items: center;
     row-gap: 30px;
     border-left: 1px solid var(--roxo);
}

.info--area-box:last-child {
     border-right: 1px solid var(--roxo);
}

.info-box-img {
     width: 60px;
     height: 60px;
}

.info-box-img img {
     width: 100%;
     height: 100%;
}

.info-box-titulo h4 {
     text-align: center;
     font: 700 18px 'Poppins', sans-serif;
     color: #fff;
}

.info-box-desc p {
     text-align: center;
     font: normal 18px 'Poppins', sans-serif;
     color: var(--roxo);
}

/*CONFIG SECTION LOGIN*/
#section-login {
     background: url(../img/background-pcl01.jpg) no-repeat center;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     /*background-attachment: fixed; -> Faz com que a tela fique fixa e tenha efeito paralax*/
     background-attachment: fixed;
     height: calc(80vh - 70px);
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     overflow: hidden;
}

.section-login--area {
     width: 50%;
     display: flex;
     flex-direction: column;
     row-gap: 30px;
     padding: 15px;
}

.login-titulo h4 {
     font: normal 45px 'Poppins', sans-serif;
     color: #fff;
}

.login-subtitulo h3 {
     font: 700 60px 'Poppins', sans-serif;
     color: var(--amarelo);
}

.login-desc p {
     font: normal 25px 'Poppins', sans-serif;
     color: #fff;
}

.login-btn {
     height: 55px;
     display: flex;
     align-items: center;
}

.login-btn a {
     text-decoration: none;
     padding: 15px 35px;
     color: var(--verde);
     background-color: #fff;
     border: 1px solid var(--verde);
     font: normal 16px 'Poppins', sans-serif;
     position: relative;
     z-index: 1;
     transition: .5s ease;
}

.login-btn a:hover {
     color: #fff;
     background-color: var(--verde);
}

/*SECTION MINI GALERIA*/
#section-mini-galeria {
     padding: 60px 0px;
     display: flex;
     justify-content: center;
}

.section-mini-galeria--area {
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     row-gap: 30px;
}

.titulo-mini-galeria h3 {
     font: 700 36px 'Poppins', sans-serif;
     color: var(--roxo);
     padding: 0px 10px 10px 10px;
}

.titulo-mini-galeria hr {
     width: 70%;
     background-color: var(--roxo);
     height: 3px;
     border-radius: 5px;
     margin: auto;
}

.imagens-mini-galeria {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     width: 100%;
     gap: 30px;
}

.coluna-1 {
     height: 820px;
     width: 100%;
     display: flex;
     flex-direction: column;
     row-gap: 30px;
}

.img-1, .img-2, .img-3, .img-4, .img-5, .img-6, .img-7 {
     flex: 1;
     background-color: #391463;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
}

.coluna-2 {
     height: 820px;
     width: 100%;
     display: flex;
     flex-direction: column;
     row-gap: 30px;
}

.coluna-3 {
     height: 820px;
     width: 100%;
     display: flex;
     flex-direction: column;
     row-gap: 30px;
}

.img-1 {
     background: url(../img/img-mini-galeria-1.jfif) no-repeat center;
}

.img-2 {
     background: url(../img/img-mini-galeria-2.jpg) no-repeat center;
}

.img-3 {
     background: url(../img/img-mini-galeria-3.jpg) no-repeat center;
}

.img-4 {
     background: url(../img/img-mini-galeria-4.jpg) no-repeat center;
}

.img-5 {
     background: url(../img/img-mini-galeria-5.jpg) no-repeat center;
}

.img-6 {
     background: url(../img/img-mini-galeria-6.jpg) no-repeat center;
}

.img-7 {
     background: url(../img/img-mini-galeria-7.jpg) no-repeat center;
}

.btn-mini-galeria {
     height: 55px;
     display: flex;
     align-items: center;
}

.btn-mini-galeria a {
     margin-top: 30px;
     text-decoration: none;
     padding: 15px 35px;
     color: var(--verde);
     background-color: #fff;
     border: 1px solid var(--verde);
     font: normal 18px 'Poppins', sans-serif;
     position: relative;
     z-index: 1;
     transition: .5s ease;
}

.btn-mini-galeria a:hover {
     color: #fff;
     background-color: var(--verde);
}

/*CONFIG FOOTER*/
#footer {
     padding: 60px 0px;
     display: flex;
     justify-content: center;
     background-image: linear-gradient(to right, var(--lima) 0%, var(--verde) 100%);
}

.footer--area {
     display: flex;
     column-gap: 30px;
     justify-content: space-between;
     align-items: center;
}

.footer-info, .footer-logo, .footer-newsletter {
     flex: 1;
     display: flex;
     flex-direction: column;
     row-gap: 30px;
}

.titulo-info-footer h4 {
     font: 700 36px 'Poppins', sans-serif;
     color: var(--roxo);
}

.desc-info-footer p {
     font: normal 18px 'Poppins', sans-serif;
     color: #fff;
}

.footer-logo img {
     width: 90%;
     height: 90%;
}

.titulo-footer-newsletter h4 {
     font: 700 36px 'Poppins', sans-serif;
     color: var(--roxo);
}

.desc-footer-newsletter p {
     font: normal 18px 'Poppins', sans-serif;
     color: #fff;
}